.picture{

    &__img{
        height: 45rem;
        width: 100%;
        object-fit: cover;
        display: block;
        border-radius: 1rem 0 0 1rem;        
        // transition: all 0.5s;
        
        // &:hover{
        //     transform: scale(1.1);
        // }
    @media(max-width:425px){
        height: 100%;
        border-radius: 1rem 1rem 0 0; 
    }    
        
    }

   
}

.image-cart{
    margin-right: 1rem;   
}